# -- Backend Framework --
# FastAPI для создания REST API и Uvicorn для его запуска.
fastapi
uvicorn[standard]
python-multipart

# -- Core Utilities & API Communication --
# Библиотеки для HTTP-запросов, работы с JWT, .env файлами и моделями данных.
httpx[http2]
pydantic
python-dotenv
pyjwt[crypto]
tenacity
cachetools
pytest
pytest-asyncio
pytest-mock
respx
